<h2>Product list</h2>
<h3>Offers</h3>
<ul>
    <!--<li (click)="selectedproduct = 'webcam'" style="cursor: pointer;" >webcam</li>
    <li (click)="selectedproduct = 'microphone'" style="cursor: pointer;">microphone</li>
    <li (click)="selectedproduct = 'keyboard'" style="cursor: pointer;">keyboard</li>-->
    <!--<li *ngFor="let product of products; let i = index" 
    (click)="selectedproduct = product">
        {{i+1}}.- {{product}}
    </li>-->
    <li *ngFor="let product of products | sort; trackBy: trackByProducts" 
    (click)="selectedproduct = product"
    style="cursor: pointer;">
        {{product.name | uppercase}} <b style="font-size: larger;">{{product.precio | currency : 'USD'}}</b>
    </li>
    <!--<li *ngFor="let product of products2 | keyvalue;">
        {{product.key}}
    </li>-->
</ul>
<app-product-detail 
    *ngIf="selectedproduct; else noProduct"
    #product
    [product]="{ name: selectedproduct.name, precio: selectedproduct.precio}" 
    (bought) = "onbuy()" 
></app-product-detail>
<ng-template appProductHost>
    no product selected
</ng-template>

<!--<p>{{products | json}}</p>-->
<!--<p>{{today  | date}}</p>-->
<!--<p> {{0.1234 | percent}}</p>-->
<!--<p *ngIf="!selectedproduct">no product selected</p>-->
<!--<span><br>{{product.name}}</span><br>-->